<a href="https://colab.research.google.com/github/degraft256/Jul22-Vac-Python/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
True

True

In [2]:
False

False

In [5]:
number_of_dogs= 23
number_of_cats= 24
print(number_of_dogs==number_of_cats)

False

In [6]:
number_of_cows=35
number_of_wocs=35
print(number_of_cows==number_of_wocs)

True

In [7]:
number_of_pens = 20
number_of_bicycles=30
print((number_of_pens < number_of_bicycles))

True

In [8]:
number_of_pens = 20
number_of_bicycles=30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)

True
False

In [9]:
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

In [10]:
type(my_list)

list

In [11]:
my_list=[2,'NAME',5]
print(my_list)

[2, 'NAME', 5]

In [12]:
my_list=["NUMS", [2,5,6]]
print(my_list)

['NUMS', [2, 5, 6]]

In [14]:
my_list=[2, 'Nums', 5]
print (my_list[1])

Nums

In [16]:
my_list = ['NAME', [3.7,8], ['AGE',5,6]]
print(my_list[2][0])

AGE

In [18]:
my_list=[2,3,4, 'Name','Age','sex',15]
print(my_list[3:6])

['Name', 'Age', 'sex']

In [21]:
print(my_list[3:])

['Name', 'Age', 'sex', 15]

In [22]:
print(my_list[:])

[2, 3, 4, 'Name', 'Age', 'sex', 15]

In [29]:
list_1=['NAME','AGE','SEX','KOFI','222', 'AMA','YAW']
print('list_1[1][6]')

list_1[1][6]

In [30]:
print(list_1[:])

['NAME', 'AGE', 'SEX', 'KOFI', '222', 'AMA', 'YAW']

In [32]:
print(list_1[:3])

['NAME', 'AGE', 'SEX']

In [34]:
print(list_1[4:])

['222', 'AMA', 'YAW']

In [36]:
my_list= ['KUAMI',['AGE', 'NAME', 'KOFI'], 'T']
print([2][0])

2

In [37]:
print([1])

[1]

In [39]:
print('T')

T

In [40]:
my_dict={'key1' : 'value1',
           'key2':'value2',
          'key3':'value3'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [41]:
type(my_dict)

dict

In [42]:
my_dict['key2']

'value2'

In [43]:
school_fees={'KOFI': 150000,
             'AMA': 10000,
             'SAM':20000}
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'SAM': 20000}

In [44]:
school_fees['AMA']

10000

In [45]:
school_fees['Barbara']=1500
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'SAM': 20000, 'Barbara': 1500}

In [46]:
del school_fees['SAM']
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'Barbara': 1500}

In [47]:
items= {'BOOK':3.00,
        'PEN':4.50,
        'PUPPY':1000.00,
        'PHONE':4567.00,
        'LAPTOP':3456.00,
        'CANVA':56.00}
print(items)

{'BOOK': 3.0, 'PEN': 4.5, 'PUPPY': 1000.0, 'PHONE': 4567.0, 'LAPTOP': 3456.0, 'CANVA': 56.0}

In [48]:
my_string= "Hello everyone and welcome to Python towards data science track!"
print(my_string)

Hello everyone and welcome to Python towards data science track!

In [49]:
type(my_string)

str

In [50]:
first_name = "Niall"
last_name = " Horan"
full_name= first_name + last_name
print(full_name)

Niall Horan

In [51]:
my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON TOWARDS DATA SCIENCE TRACK!'

In [52]:
x= my_string.split()
print(x)

['Hello', 'everyone', 'and', 'welcome', 'to', 'Python', 'towards', 'data', 'science', 'track!']

In [53]:
type(x)

list

In [54]:
x[1]

'everyone'

In [55]:
my_string= 'kofiamegah5@gmail.com'
z= my_string.split('@')
print(z)

['kofiamegah5', 'gmail.com']

In [57]:
question= 'What is your feedback regarding this course you are taking?'
screen= question.split()
print(screen)

['What', 'is', 'your', 'feedback', 'regarding', 'this', 'course', 'you', 'are', 'taking?']

In [59]:
tuple_1=('NAME', 'AGE', 10, 15, 1992);
tuple_2=(450,55,977,2100);
type(tuple_1)

tuple

In [60]:
tuple_1

('NAME', 'AGE', 10, 15, 1992)

In [61]:
tuple_1[1]

'AGE'

In [62]:
tuple_1[1:3]

('AGE', 10)

In [63]:
tuple_3=tuple_1+tuple_2
print(tuple_3)

('NAME', 'AGE', 10, 15, 1992, 450, 55, 977, 2100)

In [65]:
tuple_1= ('Ama','Quaye','15','50')
type(tuple_1)

tuple

In [66]:
len(tuple_1)

4

In [67]:
my_set = {'NAME', 'AGE', 'T', 'SEX', 'T', 'AGE'}
print(my_set)

{'SEX', 'AGE', 'T', 'NAME'}

In [68]:
my_set={'NAME', 'AGE','T'}
print(my_set)

{'AGE', 'T', 'NAME'}

In [69]:
my_list= {'NAME','AGE','T','SEX','T','AGE', '5', '6', '5'}
print(my_list)

{'6', 'SEX', '5', 'T', 'NAME', 'AGE'}